<?xml version="1.0"?>
<config>
	<modules>
		<Ebanx_Ebanx>
			<version>1.5.1</version>
		</Ebanx_Ebanx>
	</modules>

	<global>
		<resources>
			<ebanx_setup>
				<setup>
					<module>Ebanx_Ebanx</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
        <connection>
          <use>core_setup</use>
        </connection>
			</ebanx_setup>
		</resources>


		<models>
			<ebanx>
				<class>Ebanx_Ebanx_Model</class>
			</ebanx>
      <ebanx_adminhtml>
	      <class>Ebanx_Ebanx_Adminhtml_Model</class>
      </ebanx_adminhtml>
		</models>

		<helpers>
			<ebanx>
				<class>Ebanx_Ebanx_Helper</class>
			</ebanx>
		</helpers>

		<payment>
			<groups>
				<ebanx>Ebanx</ebanx>
			</groups>
		</payment>

    <blocks>
      <ebanx>
        <class>Ebanx_Ebanx_Block</class>
      </ebanx>
    </blocks>

    <events>
      <checkout_type_onepage_save_order_after>
        <observers>
          <ebanx_observer>
            <class>Ebanx_Ebanx_Model_Observer</class>
            <method>saveOrderQuoteToSession</method>
          </ebanx_observer>
        </observers>
      </checkout_type_onepage_save_order_after>
    </events>
	</global>

	<frontend>
    <routers>
      <ebanx>
        <use>standard</use>
        <args>
          <module>Ebanx_Ebanx</module>
          <frontName>ebanx</frontName>
        </args>
      </ebanx>
    </routers>

    <layout>
      <updates>
        <ebanx>
          <file>ebanx.xml</file>
        </ebanx>
      </updates>
    </layout>
  </frontend>

	<default>
		<payment>
			<ebanx>
				<model>ebanx/payment</model>
				<group>ebanx</group>
				<active>1</active>
				<title>EBANX (Boleto Bancário, HSBC, Itaú, Bradesco, Banco do Brasil, Visa, Mastercard)</title>
				<payment_action>authorize</payment_action>
				<testing>1</testing>
        <direct>0</direct>
        <direct_cards>0</direct_cards>
				<payment_type_code>_all</payment_type_code>
				<order_status>processing</order_status>
				<new_order_status>pending</new_order_status>
				<paid_order_status>complete</paid_order_status>
				<canceled_order_status>canceled</canceled_order_status>
        <active_installments>0</active_installments>
        <maximum_installments>6</maximum_installments>
				<interest_installments>0.0</interest_installments>
				<title_checkout>EBANX (Boleto Bancário, Itaú, Bradesco, Banco do Brasil)</title_checkout>
        <direct_payment_methods>boleto,tef</direct_payment_methods>
        <boleto_due_date>3</boleto_due_date>
        <activationstatus>0</activationstatus>
        <allowspecific>0</allowspecific>
        <specificcountry>BR</specificcountry>
			</ebanx>
		</payment>
	</default>
</config>