<?xml version="1.0"?>
<config>
  <modules>
    <Ebanx_Ebanx>
      <version>1.15.0</version>
    </Ebanx_Ebanx>
  </modules>

  <global>
    <resources>
      <ebanx_setup>
        <setup>
          <module>Ebanx_Ebanx</module>
          <class>Mage_Sales_Model_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </ebanx_setup>
    </resources>

    <currency>
      <import>
        <services>
          <ebanxexchange>
            <name>EBANX Exchange</name>
            <model>Ebanx_Ebanx_Model_Exchange</model>
          </ebanxexchange>
        </services>
      </import>
    </currency>

    <helpers>
      <ebanx>
        <class>Ebanx_Ebanx_Helper</class>
      </ebanx>
    </helpers>
  </global>

  <frontend>
    <translate>
      <modules>
        <Ebanx_Ebanx>
          <files>
            <default>Ebanx_Ebanx.csv</default>
          </files>
        </Ebanx_Ebanx>
      </modules>
    </translate>

    <routers>
      <ebanx>
        <use>standard</use>
        <args>
          <module>Ebanx_Ebanx</module>
          <frontName>ebanx</frontName>
        </args>
      </ebanx>
    </routers>
  </frontend>
</config>