<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
				<ebanx translate="label" module="ebanx">
					<label>EBANX</label>
					<comment>Boleto Bancário, TEF, Domestic Brazilian Credit Cards</comment>
					<sort_order>700</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>

					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>

            <integration_key translate="label">
              <label>Integration key</label>
							<comment><![CDATA[Please note that the EBANX system uses different keys for testing and live payments.]]></comment>
                <frontend_type>text</frontend_type>
                <sort_order>2</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>0</show_in_store>
            </integration_key>

						<testing translate="label">
							<label>Test mode</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</testing>

						<direct translate="label">
							<label>Direct mode</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</direct>

						<open_order_status translate="label">
							<label>Open order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</open_order_status>

						<new_order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</new_order_status>

						<paid_order_status translate="label">
							<label>Paid order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</paid_order_status>

						<canceled_order_status translate="label">
							<label>Canceled order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</canceled_order_status>

						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</title>

            <active_installments translate="label">
							<label>Enable installments</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active_installments>

            <maximum_installments translate="label">
                <label>Maximum installments</label>
                <frontend_type>select</frontend_type>
                <source_model>Ebanx_Ebanx_Adminhtml_Model_System_Config_Source_Installments</source_model>
                <sort_order>10</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>0</show_in_store>
            </maximum_installments>

            <interest_installments translate="label">
							<label>Installments interest rate (%)</label>
							<frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</interest_installments>

	          <run translate="label">
  	        	<label>Update payment methods</label>
           		<frontend_type>button</frontend_type>
    		      <frontend_model>Ebanx_Ebanx_Block_Button</frontend_model>
    		      <sort_order>12</sort_order>
           		<show_in_default>1</show_in_default>
          		<show_in_website>1</show_in_website>
      		    <show_in_store>0</show_in_store>
          	</run>
					</fields>
				</ebanx>
			</groups>
		</payment>
	</sections>
</config>