<?xml version="1.0"?>
<config>
  <modules>
    <Ebanx_Express>
      <version>1.0.0</version>
    </Ebanx_Express>
  </modules>

  <global>
    <models>
      <ebanx_express>
        <class>Ebanx_Express_Model</class>
      </ebanx_express>
      <ebanx_adminhtml>
        <class>Ebanx_Express_Adminhtml_Model</class>
      </ebanx_adminhtml>
    </models>

    <helpers>
      <ebanx_express>
        <class>Ebanx_Express_Helper</class>
      </ebanx_express>
    </helpers>

    <payment>
      <groups>
        <ebanx_express>Ebanx</ebanx_express>
      </groups>
    </payment>

    <blocks>
      <ebanx_express>
        <class>Ebanx_Express_Block</class>
      </ebanx_express>
    </blocks>

    <events>
      <checkout_type_onepage_save_order_after>
        <observers>
          <ebanx_observer>
            <class>Ebanx_Express_Model_Observer</class>
            <method>saveOrderQuoteToSession</method>
          </ebanx_observer>
        </observers>
      </checkout_type_onepage_save_order_after>
    </events>
  </global>

  <frontend>
    <translate>
      <modules>
        <Ebanx_Express>
          <files>
            <default>Ebanx_Express.csv</default>
          </files>
        </Ebanx_Express>
      </modules>
    </translate>
  </frontend>

  <default>
    <payment>
      <ebanx_express>
        <model>ebanx_express/payment</model>
        <group>ebanx</group>
        <active>1</active>
        <title>Credit cards for Brazil</title>
        <order_status>processing</order_status>
        <payment_action>authorize</payment_action>
        <active_installments>0</active_installments>
        <maximum_installments>1</maximum_installments>
        <installments_mode>compound</installments_mode>
        <interest_installments>0.0</interest_installments>
        <paymentcurrency>base</paymentcurrency>
        <activationstatus>0</activationstatus>
        <allowspecific>1</allowspecific>
        <specificcountry>BR</specificcountry>
      </ebanx_express>
    </payment>
  </default>
</config>